@import "https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css";

body {
    background-color: #f8f9fa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10% !important;
}

.reservation-wrapper {
    border: 1px solid #dee2e6;
    background-color: #fff;
    padding: 1rem;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}

.header,
.footer {
    text-align: center;

    .img-header,
    .img-footer {
        width: 100%;
        height: 80px; // Atur tinggi sesuai kebutuhan
        object-fit: cover; // Pastikan gambar menutupi area yang diinginkan
    }
}

.section {
    margin-bottom: 2rem;
    margin-left: 1rem; // Menjorok ke kanan sedikit

    .section-header {
        width: calc(100% - 1rem); // Sesuaikan lebar dengan margin
        height: auto;
        margin-left: 6rem; // Menjorok ke kanan sedikit
    }

    .section-content {
        background-color: #ffffff;
        padding: 1rem;
        border: 1px solid #ffffff;
        border-top: none;
        margin-left: 6rem; // Menjorok ke kanan sedikit
    }

    p {
        margin: 0;
    }
}

.img-content {
    width: 100%;
    height: 40px; // Atur tinggi sesuai kebutuhan
    object-fit: cover; // Pastikan gambar menutupi area yang diinginkan
}