@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif !important;
    background-color: #F9FAFF;
}

$main-black : #353535;
$soft-black : #505050;
$main-blue : #005EFF;
$lite-blue : #E9EFFF;
$orange : #FF9F10;
$gray : #B0B0B0;

.text-main-black {
    color: $main-black !important;
}

.text-soft-black {
    color: $soft-black;
}

.text-main-blue {
    color: $main-blue;
}

.text-main-orange {
    color: $orange;
}

.btn-main {
    background-color: $main-blue;
    color: white;
    padding: 7px 20px;
    border-radius: 50rem;
}

.btn-main:hover {
    background-color: white;
    color: $main-blue;
    border: 2px solid $main-blue;
}

.btn-main:active {
    background-color: white;
    color: $main-blue !important;
    border: 2px solid $main-blue !important;
}

.btn-secondary {
    background-color: $lite-blue;
    color: $main-blue;
    padding: 7px 20px;
    border-radius: 50rem;
    border: 0;
}

.btn-secondary:hover {
    background-color: $lite-blue;
    color: $main-blue;
    border: 0;
}

.btn-secondary:active {
    background-color: $lite-blue !important;
    color: $main-blue !important;
    border: 0 !important;
}

h1,h2,h3,h4,h5,p {
    margin-bottom: 0;
}

.bg-transparent {
    background-color: transparent !important;
}

.bg-white-nav {
    background-color: rgba(255, 255, 255, 0.904) !important;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.navbar-main {
    position: sticky;
    top: 0;
    width: 100%;
    flex-wrap: nowrap;
    padding: 1.5rem 2.5rem;
    // background-color: transparent;
    justify-content: space-between;
    align-items: center;
    .logo {
        width: 100%;
        a {
            width: max-content;
            display: flex;
            gap: 1rem;

            .text-logo {
                h2 {
                    margin-bottom: 0;
                }
                p {
                    font-size: 12px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
            }
        }
    }

    .nav-menu {
        width: 100%;
        justify-content: center;
        gap: 4rem;
        a {
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
        }
        a:hover {
            color: $main-blue !important;
            transition: .2s;
        }

        .dropdown {
            .dropdown-menu {
                transform: translate(0px, 60px) !important;
                animation: opacity .2s;
                a {
                    .paket-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        background-color: $lite-blue;
                        border-radius: 50rem;
                        color: $main-blue;
                    }
                    .paket-menu {
                        .paket-title {
                            font-size: 16px;
                        }
                        .paket-desc {
                            font-size: 12px;
                            color: $gray;
                            font-weight: 400;
                            width: 50ch;
                            white-space: wrap;
                            text-align: justify;
                        }
                    }
                }
                a:hover {
                    background-color: transparent;
                    .paket-desc {
                        color: $main-black;
                        transition: .2s;
                    }
                    transition: .2s;
                }
            }
        }
    }

    .signin {
        width: 100%;
        display: flex;
        justify-content: end;
        a {
            font-size: 14px;
        }
    }
}

#hero {
    display: flex;
    gap: 5rem;
    padding: 5rem 10rem;
    .hero-start {
        img {
            object-fit: cover;
        }
    }
    .hero-end {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        justify-content: center;

        .start {

            .tagline {
                width: max-content;
                font-weight: 600;

                p {
                    font-size: 18px;
                }
            }

            .hero-title {
                font-size: 48px;
                width: 16ch;
                font-weight: 800;
                color: $main-black;
                line-height: 4rem;
                letter-spacing: 1px;
            }

            .hero-desc {
                font-size: 18px;
                width: 70%;
                font-weight: 400;
                margin-top: 1.5rem;
                margin-bottom: 2.5rem;
            }
            
            .hero-button {
                display: flex;
            }

            hr {
                width: 50%;
                margin-top: 5px;
                border-top: 3px solid $orange;
                opacity: 100;
            }
        }
        .end {
            display: flex;
            flex-direction: column;
            
            .sponsor-text {
                display: block !important;
                color: $gray;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 1rem;
            }

            .sponsor-image {
                img {
                    // filter: grayscale(1);
                    transition: .2s;
                }
                img:hover {
                    filter: grayscale(1);
                    transition: .2s;
                }
            }
        }
    }
}

#punchline {
    min-height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2D2D2D;
    background-position: center;
    background-blend-mode: multiply;
    background-image: url('../assets/punchline.png');

    display: flex;
    justify-content: space-between;
    padding: 10rem 10rem;
    margin-bottom: 2rem;

    .start {
        h2 {
            width: 20ch;
            font-size: 48px;
            font-weight: bold;
            line-height: 1.5;
            margin: 1rem 0;
        }
        .desc {
            font-weight: 500;
            width: 50ch;
            color: $gray;
        }
    }

    .end {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;

        .splide__slide {
            max-width: max-content;
            .image-wrapper {
                width: max-content;
                min-height: 120px;
                display: flex;
                align-items: center;
                background-color: white;
                border-radius: 10px;
                margin: 0 1rem;
                padding: 5px 1rem;
                
            }
        }
    }
}